.lawyer-profesional {
  background-position: center;
  background-size: cover;
  a {
    text-decoration: none;
    color: unset;
  }
  .card-lawyers {
    background: white;
    padding: 12px;
    border-radius: 16px;

    img {
      border-radius: 16px;
      height: 231px;
      width: 100%;
      object-fit: cover;
    }
    p {
      font-weight: bold;
    }

    label {
      background-color: #906cf9;
      color: white;
    }
  }
  .law-pro-desktop {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  .law-pro-lg {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

.card-lawyers-lg {
  background: white;
  border-radius: 14px;
  img {
    border-radius: 14px;
    width: 100%;
    height: 142px;
    object-fit: cover;
  }
  label {
    background-color: #906cf9;
    color: white;
  }
  p {
    font-weight: bold;
  }
}
